[report]
skip_covered = True
show_missing = True
omit =
    manage.py
    blogger/urls.py
    blogger/wsgi.py
    blogger/apps/*/admin.py
    blogger/apps/*/tests.py
    blogger/apps/*/management/commands/*
    blogger/apps/*/migrations/*
    blogger/apps/*/urls.py
    blogger/settings/*
