{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ object.image.url }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ object.title }}</h1>
            <h2 class="subheading">{{ object.subtitle }}</h2>
            <span class="meta">Posted by
              <a href="#">{{ object.author }}</a>
              on {{ object.created }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ object.content|safe }}
        </div>
      </div>
    </div>
  </article>
{% endblock content %}
