{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% get_media_prefix %}{{ config.HOME_PAGE_IMAGE }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ config.HOME_PAGE_TITLE }}</h1>
            <span class="subheading">{{ config.HOME_PAGE_DESCRIPTION }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <!-- Articles --->

        {% for article in object_list %}
          <div class="post-preview">
            <a href="{% url 'article:detail' slug=article.slug %}">
              <h2 class="post-title">
                {{ article.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ article.subtitle }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ article.author }}</a>
              on {{ article.created|date:"N j, Y" }}</p>
          </div>
          <hr>
        {% endfor %}

        <!-- Pager -->
        {% if is_paginated %}
          <div class="clearfix">
            {% if page_obj.has_previous %}
              <a class="btn btn-outline-primary float-left"
                 href="?page={{ page_obj.previous_page_number }}">&larr; Previous Posts</a>
            {% else %}
              <a class="btn btn-outline-secondary float-left disabled" href="#">&larr; Previous Posts</a>
            {% endif %}
            {% if page_obj.has_next %}
              <a class="btn btn-outline-primary float-right"
                 href="?page={{ page_obj.next_page_number }}">Older Posts &rarr;</a>
            {% else %}
              <a class="btn btn-outline-secondary float-right disabled" href="#">Older Posts &rarr;</a>
            {% endif %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock content %}
